<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/AdminDashboard_css.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="n1">
        <div>
            <br>
    <header>
      <div class="container">
      <img src="https://www.daiict.ac.in/wp-content/uploads/2019/01/logo-2018.png" class="img1 img-responsive"/>
      <div class="loader" id="loader"></div>
    </div>
    </header>

    </div>
    </nav>  

<div class="topnav" id="myTopnav">
    
    <a class="menualign" href="/student_homepage1" class="active">Home</a>
    <a href="javascript:onRegenarateQr()">RegenerateQr</a>
    <a href="/equipment/borrow_history">Equipment borrow history</a>
    <a href="/users/myProfile">My Profile</a>
    <a href="/users/changePassword/5">Change Password</a>
    <a href="/users/logout" style="float: right; margin-right:50px">Log out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>

</div>


<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    function onRegenarateQr()
    {
      $.ajax({
                  type: 'get',
                  url: '/student_header',
                  
                  success: function(data){
                    //alert(data);
                    if(parseInt(data)>0)
                    {

                      if(confirm("Are you sure you want to regenerateQR ? \n"+data+" remaining"))
                      {
                        console.log("yes");
                        $.ajax({
                          type: "get",
                          url: '/qrcode',
                          beforeSend: function(){
                          // Show image container
                          $("#loader").show();
                          },
                          success: function(data){
                            alert(data);
                          },
                          error: function(RXHDR,statusText,error){
                            alert(RXHDR.responseText);
                          },
                          complete:function(data){
                          // Hide image container
                          $("#loader").hide();
                         }
                      })
                    }
                      else{
                        console.log("no");

                      }

                    }
                    else
                    {
                      alert("Please contact Admin office");
                    }

                  },
                  error: function(res,text,err){
                    alert(res.responseText);
                  }
                })

    }
    </script>
    <style>
      .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  float:right;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    </style>


</body>
</html>