

<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Login Form
        </title>
        <link rel="shortcut icon" href=""/>
        <link href="/css/Login_CSS/Login_css.css" rel="stylesheet">
    </head>
    <body>
		<img src="/pic/Wave2.jpg" class="wave"> 
        <div  class="size ">
            <h2><%=title%></h2>
            <form action="/home/authUser" method="POST">
                <div>
                    <div>
						<img src="https://www.daiict.ac.in/wp-content/uploads/2019/01/logo-2018.png" class="img1 img-responsive"/>
                    </div>
                </br>
                    <div class="card container">
                        <div class="input-group">
                            <input type="text" placeholder="Enter ID Number" name="userID" id="uname" onfocusout="username()"  required>   
                        </div>
                        <span id="error-ID" style="color:red;"></span>
                        <br/>
                        <br/>
                        <div class="input-group">
                            <input type="password" placeholder="Enter Password" name="password" id="psw" onfocusout="password()" required>
                        </div>
                        <span id="error-password" style="color:red;"><%if (error) {%> <%=error%> <%}%></span>
                        <br/><br/>
                        <span id="" style="color:green;"> <%if (info) {%> <%=info%> <%}%></span> <br/>
                        <label>
                            <input type="checkbox" checked="checked" name="rememberme"> Remember me
                          </label>
                          <br/>
                          <button type="submit">Login</button>
                           
                    </div>

                    
                    <div class="container" style="background-color:#f1f1f1">
                            <button type="button" class="cancelbtn" onclick="location.href='/users/registerStudent';">Create Account</button>
                            <br/>
                            <center><a href="/users/forgotPass" style="color:blue"> Forgot password?</a></center>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/Login_JS/login.js"></script>
	</body>
	<div class="row">

	</div>
</html>
