

<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Login Form
        </title>
        <link href="/css/Login_CSS/Login_css.css" rel="stylesheet">
    </head>
    <body>
		<img src="/pic/Wave2.jpg" class="wave"> 
        <div  class="size ">
            <form action="/users/reset/<%=token%>" method="POST">
                <div>
                    <div>
						<img src="https://www.daiict.ac.in/wp-content/uploads/2019/01/logo-2018.png" class="img1 img-responsive"/>
                    </div>
                </br>
                    <div class="card container">
                        <div class="input-group">
                            <input type="password" placeholder="New Password" name="newPassword" id="Pass1" size="100" required>
                        </div>
                        <br/>
                        <div class="input-group">
                            <input type="password" placeholder="Confirm Password" name="confirmPassword" id="Pass2" onfocusout="validate()" size="100" required>
                        </div>    
                          
                           
                    </div>

                    
                    <div class="container" style="background-color:#f1f1f1">
                        <button type="submit">Change Password</button>
                        <button type="button" class="cancelbtn" onclick="location.href='/';">Back to Home</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/javascripts/login.js"></script>
        <script src="/js/Registration_JS/reg.js"></script>
	</body>
	<div class="row">

	</div>
</html>
