<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/AdminDashboard_css.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="n1">
        <div>
            <br>
    <header>
      <div class="container">
      <img src="https://www.daiict.ac.in/wp-content/uploads/2019/01/logo-2018.png" class="img1 img-responsive"/>
    </div>
    </header>

    </div>
    </nav>  

<div class="topnav" id="myTopnav">
    
    <a class="menualign" href="/gate/loadGateScanner" class="active">Home</a>
                       <a href="/users/myProfile">Profile</a>
                        <a href="/users/loadGenerateReport">Reports</a>
                          <a href="/users/changePassword/2">Change Password</a>
                        <a href="/users/logout" style="float:right;margin-right: 50px;">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>

</div>


<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    
    </script>
    


</body>
</html>